# Medicare Fraud Detection

### Data 698: Data Science Research Project - Spring 2019

### Student: Chunhui Zhu

Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2016.csv: https://data.cms.gov/Medicare-Physician-Supplier/Medicare-Provider-Utilization-and-Payment-Data-Phy/utc4-f9xp

LEIE2019.csv: https://oig.hhs.gov/exclusions/exclusions_list.asp

In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib as plt
import pickle

import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [2]:
def loaddata (year):
    y=str(year)
    fraud_pkl=open("fraud_"+str(year)+"_pickle","rb")
    fraud_df=pickle.load(fraud_pkl)
    print("The number of fraud_df found in " + y +" is " + str(len(fraud_df)) + ".")
    fraud_pkl.close()
    
    
    clean_pkl=open("clean_"+str(year)+"_pickle","rb")
    clean_df=pickle.load(clean_pkl)
    print("The number of clean_df found in " + y +" is " + str(len(clean_df)) + ".")
    clean_pkl.close()
    
    return (fraud_df, clean_df)

In [3]:
df_fraud2016, df_clean2016 = loaddata(2016)
df_fraud2015, df_clean2015 = loaddata(2015)
df_fraud2014, df_clean2014 = loaddata(2014)
df_fraud2013, df_clean2013 = loaddata(2013)
df_fraud2012, df_clean2012 = loaddata(2012)

The number of fraud_df found in 2016 is 2843.
The number of clean_df found in 2016 is 9712054.
The number of fraud_df found in 2015 is 5110.
The number of clean_df found in 2015 is 9492782.
The number of fraud_df found in 2014 is 7993.
The number of clean_df found in 2014 is 9308315.
The number of fraud_df found in 2013 is 10817.
The number of clean_df found in 2013 is 9277060.
The number of fraud_df found in 2012 is 13723.
The number of clean_df found in 2012 is 9139550.

## Non Fraud vs Fraud : Internal Medicine

In [4]:
df_fraud2016.columns

Index(['npi', 'type', 'gender', 'hcpcs_c', 'line_srvc_cnt', 'bene_unique_cnt',
       'bene_day_srvc_cnt', 'avg_allowed_amt', 'avg_payment_amt',
       'avg_submitted_chrg_amt', 'city', 'state', 'Fraud'],
      dtype='object')

In [5]:
df_fraud2016[(df_fraud2016["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.184711e+09,25.00,18.0,24.00,18.330000,14.688148,40.000000,1.0
0.50,1.427163e+09,54.00,35.0,50.00,57.036111,39.542937,105.000000,1.0
0.75,1.730265e+09,147.25,69.0,129.25,104.522500,73.398225,180.523109,1.0

In [6]:
df_clean2016[(df_clean2016["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.255330e+09,23.0,19.0,23.0,20.967907,17.796994,45.000000,0.0
0.50,1.508800e+09,51.0,39.0,50.0,70.810000,52.883109,129.803953,0.0
0.75,1.750346e+09,138.0,94.0,132.0,114.060000,87.220000,235.000000,0.0

## 2015

In [7]:
df_fraud2015[(df_fraud2015["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.174545e+09,25.00,20.0,23.00,18.112662,14.699991,40.0,1.0
0.50,1.437218e+09,56.00,38.5,54.00,57.248846,40.901168,100.0,1.0
0.75,1.804206e+09,162.75,85.0,149.25,107.652068,76.722905,185.0,1.0

In [8]:
df_clean2015[(df_clean2015["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.255318e+09,23.0,19.0,23.0,20.000000,17.022477,42.000000,0.0
0.50,1.508129e+09,53.0,39.0,51.0,70.610000,52.303452,124.000000,0.0
0.75,1.750328e+09,142.0,96.0,136.0,114.117783,86.661233,223.142857,0.0

## 2014

In [9]:
df_fraud2014[(df_fraud2014["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.154413e+09,24.00,19.00,24.0,16.384375,13.249799,36.000000,1.0
0.50,1.427091e+09,57.00,37.00,53.0,54.165208,38.133636,98.652174,1.0
0.75,1.730265e+09,177.25,87.25,156.0,105.865000,76.196819,175.000000,1.0

In [10]:
df_clean2014[(df_clean2014["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.255323e+09,23.0,19.0,22.0,18.59,15.090000,40.000000,0.0
0.50,1.508176e+09,51.0,38.0,49.0,69.72,50.792500,114.880399,0.0
0.75,1.750338e+09,140.0,92.0,134.0,110.65,83.444982,210.209497,0.0

## 2013

In [11]:
df_fraud2013[(df_fraud2013["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.184711e+09,25.0,19.0,24.0,36.333333,13.975656,36.333333,1.0
0.50,1.437218e+09,57.0,39.0,53.0,97.000000,39.448085,97.000000,1.0
0.75,1.730280e+09,160.5,89.0,146.0,175.000000,77.454066,175.000000,1.0

In [12]:
df_clean2013[(df_clean2013["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.255328e+09,23.0,19.0,23.0,38.000000,14.485812,38.000000,0.0
0.50,1.508811e+09,52.0,38.0,50.0,106.108101,48.531856,106.108101,0.0
0.75,1.750344e+09,144.0,93.0,137.0,200.000000,80.634969,200.000000,0.0

## 2012

In [13]:
df_fraud2012[(df_fraud2012["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.235158e+09,26.0,20.0,24.0,18.636134,14.539770,37.323404,1.0
0.50,1.427163e+09,62.0,38.0,57.0,56.980000,43.119412,99.972222,1.0
0.75,1.740311e+09,171.5,89.0,148.5,107.255000,79.377363,175.000000,1.0

In [14]:
df_clean2012[(df_clean2012["type"] == 'Internal Medicine')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.255325e+09,23.0,19.0,23.0,18.32,14.007143,35.379864,0.0
0.50,1.508822e+09,53.0,38.0,51.0,64.32,47.220018,100.000000,0.0
0.75,1.750346e+09,147.0,93.0,140.0,104.33,79.730000,193.000000,0.0

## Non Fraud vs Fraud : Internal Medicine + City

### 2016

In [15]:
df_fraud2016[(df_fraud2016["type"] == 'Internal Medicine') & (df_fraud2016["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.952357e+09,73.0,21.5,73.0,50.175,36.285423,193.703243,1.0
0.50,1.952357e+09,98.0,38.0,98.0,72.440,54.001294,287.626486,1.0
0.75,1.967545e+09,139.5,56.0,139.5,86.635,64.457792,336.870000,1.0

In [16]:
df_clean2016[(df_clean2016["type"] == 'Internal Medicine') & (df_clean2016["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.245466e+09,24.0,20.0,24.0,21.67,18.403226,42.852353,0.0
0.50,1.497941e+09,56.0,41.0,54.0,72.91,54.904211,127.744604,0.0
0.75,1.730356e+09,160.0,103.0,151.0,115.71,89.300000,236.433333,0.0

### 2015

In [17]:
df_fraud2015[(df_fraud2015["type"] == 'Internal Medicine') & (df_fraud2015["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.952357e+09,22.0,19.0,22.0,69.010000,49.098333,201.108883,1.0
0.50,1.952357e+09,37.0,25.0,37.0,79.395537,61.962727,312.008264,1.0
0.75,1.972607e+09,104.0,71.0,104.0,115.521852,89.489091,443.270270,1.0

In [18]:
df_clean2015[(df_clean2015["type"] == 'Internal Medicine') & (df_clean2015["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.245440e+09,24.0,20.0,24.0,20.510000,17.90000,40.0,0.0
0.50,1.497861e+09,56.0,40.0,54.0,72.737381,54.88000,124.0,0.0
0.75,1.730382e+09,163.0,104.0,154.0,115.909129,89.72612,225.0,0.0

### 2014

In [19]:
df_fraud2014[(df_fraud2014["type"] == 'Internal Medicine') & (df_fraud2014["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.598781e+09,23.25,17.25,23.25,73.257500,48.343344,125.000000,1.0
0.50,1.952357e+09,33.00,25.00,33.00,99.845000,72.795049,219.366432,1.0
0.75,1.972607e+09,118.50,63.25,118.50,136.721828,104.460641,362.682490,1.0

In [20]:
df_clean2014[(df_clean2014["type"] == 'Internal Medicine') & (df_clean2014["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.245418e+09,24.0,20.0,24.0,19.74,16.857129,39.0,0.0
0.50,1.508087e+09,56.0,40.0,53.0,72.88,53.863019,115.0,0.0
0.75,1.740286e+09,163.0,101.0,153.0,112.94,87.153003,215.0,0.0

### 2013

In [21]:
df_fraud2013[(df_fraud2013["type"] == 'Internal Medicine') & (df_fraud2013["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.598781e+09,18.5,15.0,18.5,117.500000,52.479339,117.500000,1.0
0.50,1.962462e+09,52.0,31.0,52.0,250.000000,75.157966,250.000000,1.0
0.75,1.972607e+09,215.0,80.5,215.0,353.071317,100.324059,353.071317,1.0

In [22]:
df_clean2013[(df_clean2013["type"] == 'Internal Medicine') & (df_clean2013["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.245298e+09,24.0,20.0,24.0,37.619541,16.296095,37.619541,0.0
0.50,1.508831e+09,56.0,40.0,54.0,110.000000,53.163596,110.000000,0.0
0.75,1.740490e+09,162.0,99.0,153.0,205.000000,84.394333,205.000000,0.0

### 2013 median of 'Avg_allowed_amt' seems off from all other years in FL state! But I will not use this variable in my model.

### 2012

In [23]:
df_fraud2012[(df_fraud2012["type"] == 'Internal Medicine') & (df_fraud2012["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.598781e+09,22.0,19.0,22.0,42.81,33.165842,74.649123,1.0
0.50,1.962462e+09,66.0,45.0,66.0,75.59,60.180000,165.000000,1.0
0.75,1.972607e+09,235.0,88.0,235.0,111.89,89.510000,290.730000,1.0

In [24]:
df_clean2012[(df_clean2012["type"] == 'Internal Medicine') & (df_clean2012["state"] == 'FL')].quantile([0.25,0.5,0.75])

,npi,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,avg_allowed_amt,avg_payment_amt,avg_submitted_chrg_amt,Fraud
0.25,1.245282e+09,25.0,20.0,24.0,20.17,15.632875,35.0,0.0
0.50,1.497947e+09,57.0,40.0,55.0,69.94,52.757739,105.0,0.0
0.75,1.740276e+09,166.0,100.0,157.0,108.99,83.905631,200.0,0.0

## References: